# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log